@import '../../../../assets/SCSS/variables';
@import '../../../../assets/SCSS/mixins';

.card {
   box-shadow: $box-shadow-2;
   color: #545e6f;
   padding: 1rem;
   border-radius: 4px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;

   &__info {
      font-size: 1.6rem;
      padding: 0 1rem;
      font-weight: 600;
   }
}
