<div class="product" *ngIf="product$ | async as product; else loading">
   <h3 class="product__name">{{ product.name }}</h3>
   <div class="product__image">
      <img [src]="product.image" alt="product-image" />
   </div>
   <div class="product__order">
      <app-product-detail-price 
         class="product__order__price"
         [product]="product">
      </app-product-detail-price>
      <app-product-detail-order
         class="product__order__order-form"
         [product]="product"
         (orderProduct)="handleOrder($event)"
      >
      </app-product-detail-order>
   </div>
   <div class="product__description">
      <app-product-detail-description
         [product]="product"
         [productList]="productList$ | async"
      >
      </app-product-detail-description>
   </div>
   <div class="product__action">
      <button routerLink="../" mat-stroked-button>
         Go Back
      </button>
   </div>
</div>
<ng-template #loading>
   <div class="spinner">
      <mat-spinner></mat-spinner>
   </div>
</ng-template>
