<div class="container">
   <div class="container__error" *ngIf="errorMessage">
      <app-error-message [color]="color">
         <p class="container__error__text">
            {{ errorMessage }}
         </p>
      </app-error-message>
   </div>
   <form
      class="container__sign-in"
      [formGroup]="form"
      novalidate
      (ngSubmit)="logIn()"
   >
      <h3 class="container__sign-in__header">Login</h3>
      <app-input-field
         *ngFor="let element of data"
         [parent]="form"
         [element]="element"
         [required]="required"
      >
      </app-input-field>
      <button matRipple class="container__sign-in__button" type="submit">
         Log In
      </button>
   </form>
   <div class="container__sign-up">
      Don't have an account? <a routerLink="/auth/sign-up">Register Now</a>
   </div>
</div>
