<mat-expansion-panel [formGroup]="parent" panel class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-content select=".filters__title"></ng-content>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-content select=".filters__checkbox"></ng-content>
  <mat-action-row>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="parent.invalid"
    >
      Apply Filter
    </button>
  </mat-action-row>
</mat-expansion-panel>
