<form class="form" [formGroup]="form" novalidate (ngSubmit)="handleSubmit()">
   <h4 class="form__title">
      Buy As Existing Customer
   </h4>
   <div class="form__control-name">
      <input
         type="email"
         formControlName="email"
         placeholder="Email"
         class="form__control-name__input"
         id="cartLogInEmail"
      />
      <mat-icon class="form__control-name__icon">email</mat-icon>
      <label for="cartLogInEmail" class="form__control-name__label">
         Email
      </label>
   </div>
   <div class="form__control-name">
      <input
         type="password"
         placeholder="Password"
         formControlName="password"
         class="form__control-name__input"
         id="cartLogInPassword"
      />
      <mat-icon class="form__control-name__icon">
         lock
      </mat-icon>
      <label for="cartLogInPassword" class="form__control-name__label">
         Password
      </label>
   </div>
   <button matRipple class="form__button" type="submit">
      Login
   </button>
   <div class="form__register">
      Don't have an account? <a routerLink="/auth/sign-up">Register Now</a>
   </div>
</form>
