:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  color: #545e6f;
  width: 250px;
  .info {
    font-size: 13px;
    margin-bottom: 22px;
  }
}