@import '../../../../assets/SCSS/mixins';
@import '../../../../assets/SCSS/variables';

.form {
   margin: 3rem 0;
   max-width: 30rem;

   &__title {
      margin-bottom: 2.5rem;
   }

   &__control-name {
      margin-bottom: 1rem;
      @include input-container;

      &__icon {
         @include input-icon;
      }

      &__label {
         @include input-label;
      }
   }

   &__button {
      @include button;
   }

   &__register {
      position: relative;
      top: 0.6rem;
   }
}
