<form
   [formGroup]="form"
   novalidate
   (ngSubmit)="onSubmit()"
   *ngIf="render"
   class="filters"
>
   <mat-accordion>
      <ng-container *ngFor="let filter of filters">
         <app-filter-products-expansion-panel [parent]="form">
            <h4 class="filters__title">{{ filter | titlecase }}</h4>
            <section class="filters__checkbox" [formArrayName]="filter">
               <ng-container
                  *ngFor="let prop of filterData[filter]; index as i"
                  [formGroupName]="i"
               >
                  <mat-checkbox color="primary" formControlName="checked">
                     {{ prop.name }}
                  </mat-checkbox>
               </ng-container>
            </section>
         </app-filter-products-expansion-panel>
      </ng-container>
   </mat-accordion>
   <div class="filters__reset" *ngIf="form.valid">
      <button
         mat-stroked-button
         color="primary"
         type="button"
         (click)="handleRemoveFilters()"
      >
         Remove all filters
      </button>
   </div>
</form>
