@import '../../../../assets/SCSS/variables';

.filters {

  &__title {
    color: $color-text;
  }

  &__checkbox {
    color: $color-text;
    display: flex;
    flex-direction: column;
  }

  &__reset {
    margin-top: 2rem;

    button {
      width: 100%;
    }
  }
}

