<div class="container">
   <div class="container__actions">
      <app-user-actions> </app-user-actions>
   </div>
   <div class="container__content">
      <app-error-message
         class="container__content__error"
         [color]="color"
         *ngIf="responseMessage"
      >
         <p class="container__error__text">
            {{ responseMessage }}
         </p>
      </app-error-message>
      <form
         class="container__content__form"
         [formGroup]="form"
         novalidate
         (ngSubmit)="handleSubmit()"
      >
         <h3 class="container__content__form__title">
            Change password
         </h3>
         <app-input-field
            class="container__content__form__input"
            *ngFor="let element of data"
            [parent]="form"
            [element]="element"
            [required]="required"
         >
         </app-input-field>
         <div class="container__content__form__error" *ngIf="error">
            The two given values are not <strong>identical</strong>.
         </div>
         <button
            type="submit"
            [disabled]="form.invalid"
            class="container__content__form__button"
         >
            Send Request
         </button>
      </form>
   </div>
</div>

