@import '../../../../assets/SCSS/mixins';
@import '../../../../assets/SCSS/variables';

.container {
   display: flex;
   height: 100%;

   &__actions {
      flex: 0 1 20rem;
      box-shadow: $box-shadow-2;

      @include respond(breakpoint-3) {
         display: none;
      }
   }

   &__content {
      flex: 1 1;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__error {
         margin: 3rem 2rem 0;
      }

      &__form {
         width: 40rem;
         margin: 5rem 2rem;
         display: flex;
         flex-direction: column;
         position: relative;

         @include respond(breakpoint-7) {
            width: 36rem;
         }

         &__title {
            margin-bottom: 2.5rem;
         }

         &__error {
            color: $color-error;
            font-size: 1.1rem;
            position: absolute;
            top: 25.1rem;
            left: 4rem;
         }

         &__button {
            margin-top: 2rem;
            @include button;

            &:disabled {
               color: $color-text;
               background-image: linear-gradient(
                  to right,
                  rgba($color-grey-light-1, 1),
                  rgba($color-grey-light-3, 1)
               );
            }
         }
      }
   }
}
