@import '../../../../partial';

:host {
  display: flex;
}

.container {
  @include container;
  .change-password {
    width: 400px;
    margin: auto;
    color: #545e6f;
    mat-error {
      font-size: 75%;
      position: absolute;
      top: 256px;
    }
    button {
      margin-top: 20px;
    }
  }
  .message {
    position: relative;
    top: -10px;
    .text {
      @include text;
    }
  }
}
