<div class="container">
   <div class="container__products">
      <div class="container__products__sort-bar">
         <app-sort-products-card
            [selectionStock]="products?.data.length"
            [stock]="products?.stock"
            [sortedBy]="sortedBy"
            (setSortBy)="handleSortBy($event)"
         >
         </app-sort-products-card>
      </div>
      <div
         class="container__products__cards"
         *ngIf="products?.data; else loading"
      >
         <app-product-card
            class="container__products__cards__card"
            *ngFor="
               let el of products?.data
                  | paginate: { itemsPerPage: 12, currentPage: currentPage }
            "
            [product]="el"
            (viewProduct)="handleViewProduct($event)"
         >
         </app-product-card>
      </div>
      <ng-template #loading>
         <div class="container__products__spinner">
            <mat-spinner></mat-spinner>
         </div>
      </ng-template>
      <div
         class="container__products__error"
         *ngIf="products?.data.length === 0"
      >
         <h3>No items found for your selection.</h3>
      </div>
      <div
         *ngIf="products?.data.length"
         class="container__products__pagination"
      >
         <pagination-controls (pageChange)="currentPage = $event">
         </pagination-controls>
      </div>
   </div>
   <div class="container__filters">
      <app-filter-products-form
         [filters]="filters"
         [filterData]="filterData"
         (applyFilters)="handleApplyFilters($event)"
         (removeFilters)="handleRemoveFilters($event)"
      >
      </app-filter-products-form>
   </div>
</div>
