.container {
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   margin-left: auto;

   & > :not(:last-child) {
      margin-bottom: 0.5rem;
   }

   &__place-order {
      margin-top: 1.5rem;
   }
}
