@import '../../../../assets/SCSS/variables';
@import '../../../../assets/SCSS/mixins';

.product-card {
   align-self: stretch;
   box-shadow: $box-shadow-3;
   width: calc(100vw - 18rem) / 4;
   padding: 2rem;
   cursor: pointer;

   @include respond(breakpoint-3) {
      padding: 1.2rem;
   }

   @include respond(breakpoint-4) {
      padding: 1rem;
   }

   &__image {
      width: 100%;
      height: auto;
   }

   &__name {
      margin-top: 3rem;
      font-weight: 500;
      min-height: 6rem;

      @include respond(breakpoint-1) {
         font-size: 1.2rem;
         min-height: 3rem;
      }

      @include respond(breakpoint-2) {
         display: none;
      }
   }
}
