<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="order">
   <div class="order__size">
      <input
         type="text"
         class="order__size__input"
         formControlName="size"
         placeholder="Size"
         id="size"
         readonly
         #input
      />
      <i class="material-icons order__size__icon" #iconOrder>arrow_drop_down</i>
      <label for="size" class="order__size__label">Size</label>
      <ul class="order__size__options" *ngIf="showList">
         <li
            *ngFor="let sizeValue of product.size"
            (click)="selectSize(sizeValue)"
         >
            {{ sizeValue }}
         </li>
      </ul>
      <div class="order__size__error" *ngIf="error">
         Size is <strong>required</strong>
      </div>
   </div>
   <div class="order__quantity">
      <input
         type="number"
         id="quantity"
         formControlName="quantity"
         required
         class="order__quantity__input"
         id="quantity"
         min="1"
      />
      <label for="quantity" class="order__quantity__label">Quantity</label>
   </div>
   <button
      class="order__submit"
      type="submit"
      [disabled]="form.invalid"
      matRipple
   >
      <i class="material-icons order__submit__icon">shopping_cart</i>
      {{ form.invalid ? 'PLEASE SELECT' : 'ADD TO CART' }}
   </button>
</form>
