<div class="container">
   <div class="container__error" *ngIf="errorMessage">
      <app-error-message [color]="color">
         <p class="container__error__text">
            {{ errorMessage }}
         </p>
      </app-error-message>
   </div>
   <form
      class="container__sign-up"
      [formGroup]="form"
      novalidate
      (ngSubmit)="signUp()"
   >
      <h3 class="container__sign-up__header">Create Account</h3>
      <app-input-field
         class="input-component"
         *ngFor="let element of data"
         [parent]="form"
         [element]="element"
         [required]="required"
      >
      </app-input-field>
      <div class="container__sign-up__error" [class.container__sign-up__error--active]="error">
         The two given values are not <strong>identical</strong>.
      </div>
      <button matRipple class="container__sign-up__button" type="submit">
         Sign Up
      </button>
   </form>
   <div class="container__sign-in">
      Already have an account? <a routerLink="/auth/sign-in">Login</a>
   </div>
</div>
