<mat-tab-group>
   <mat-tab label="Description">
      <p class="description">{{ product.description }}</p>
   </mat-tab>
   <mat-tab label="Fact Sheet">
      <ul class="fact-sheet">
         <li
            class="fact-sheet__entry"
            *ngFor="let el of productList"
            [ngSwitch]="el"
         >
            <strong *ngSwitchCase="'name'" class="fact-sheet__entry__fact-name">
               Product Name:
            </strong>
            <strong *ngSwitchCase="'for'" class="fact-sheet__entry__fact-name">
               For women/men/unisex:
            </strong>
            <strong *ngSwitchDefault class="fact-sheet__entry__fact-name">
               {{ el | titlecase }}:
            </strong>
            <span class="fact-sheet__entry__fact">{{ product[el] }}</span>
         </li>
      </ul>
   </mat-tab>
</mat-tab-group>
