<div class="container">
   <div class="container__user-profile">
      <a
         class="container__user-profile__account"
         [ngClass]="{
            'container__user-profile__account--active': userToken
         }"
         (click)="userAccount()"
      >
         My Account
         <i class="material-icons">keyboard_arrow_down</i>
      </a>
      <span>|</span>
      <a
         *ngIf="!userToken; else logout"
         (click)="logIn()"
         class="container__user-profile__login"
      >
         Login
         <i class="material-icons">keyboard_arrow_down</i>
      </a>
      <ng-template #logout>
         <a class="container__user-profile__login" (click)="logoutAction()">
            Logout
            <i class="material-icons">keyboard_arrow_down</i>
         </a>
      </ng-template>
   </div>
   <div class="container__cart">
      <div class="container__cart__logo">
         <i
            [@cart]="cartAnimation ? 'initial' : 'final'"
            class="material-icons"
            [matBadge]="cartQuantity"
            matBadgeColor="warn"
            (click)="viewCart()"
         >
            shopping_cart
         </i>
      </div>
      <div class="container__cart__info">
         <h2 class="container__cart__info__title">
            Cart
         </h2>
         <span class="container__cart__info__price">
            {{ cartQuantity }} Articles |
            {{ cartTotal == 0 ? '0.00' : cartTotal }} &euro;
         </span>
      </div>
   </div>
</div>
