<ng-container *ngIf="(cart$ | async).length; else emptyCart">
   <div class="container">
      <ul class="container__list">
         <li class="container__list__product">
            <div
               class="container__list__product__name container__list__product__name--header"
            >
               Product
            </div>
            <div class="container__list__product__quantity">
               Quantity
            </div>
            <div class="container__list__product__unit-price">
               Unit price
            </div>
            <div class="container__list__product__item-total">
               Item total
            </div>
         </li>
         <li
            class="container__list__product"
            *ngFor="let product of cart$ | async"
         >
            <div class="container__list__product__image">
               <img [src]="product.product.image" alt="product-image" />
            </div>

            <div class="container__list__product__name">
               <div>{{ product.product.name }}</div>
               <div><strong>Size:</strong> {{ product.size }}</div>
            </div>
            <div class="container__list__product__quantity">
               <app-table-quantity-tab
                  (refreshOrder)="handleRefreshOrder($event)"
                  (deleteProductFromCart)="handleDeleteProductFromCart($event)"
                  [data]="product"
               >
               </app-table-quantity-tab>
            </div>
            <div class="container__list__product__unit-price">
               {{ product.product.price }}
            </div>
            <div class="container__list__product__item-total">
               {{ calculatePrice(product.quantity, product.product.price) }}
            </div>
         </li>
         <li class="container__list__total-price">
            <div class="container__list__total-price__text">
               Total Product Value incl. VAT
            </div>
            <div class="container__list__total-price__value">
               {{ total$ | async }} &euro;
            </div>
         </li>
      </ul>
      <div class="container__user">
         <app-user-login
            [errorMessage]="errorMessage"
            [color]="colorForRegistrationError"
            [userName]="userName$ | async"
            (userLogin)="handleLogin($event)"
            (placeOrder)="handlePlaceOrder($event)"
         >
         </app-user-login>
      </div>
   </div>
</ng-container>
<ng-template #emptyCart>
   <div class="container">
      <app-error-message [color]="colorForTable" class="container__error">
         <p class="container__error__text">
            Your shopping cart is empty. For an order, please choose an item
            from our product catalog.
         </p>
      </app-error-message>
   </div>
</ng-template>
