@import '../../../../assets/SCSS/variables';
@import '../../../../assets/SCSS/mixins';

.search-form {
   position: relative;

   &__container {
      @include input-container;

      &__icon {
         @include input-icon;
      }

      &__label {
         @include input-label;
      }
   }

   &__list {
      position: absolute;
      z-index: 2;
      min-height: 4rem;
      max-height: 20rem;
      width: 100%;
      background-color: $color-grey-light-1;
      border: 1px solid rgba($color-dark, 0.12);
      box-shadow: $box-shadow-3;
      border-radius: 0 0 4px 4px;
      list-style: none;
      display: none;
      overflow: auto;

      &::-webkit-scrollbar {
         width: 0.7rem;
         background-color: $color-grey-light-4;
         border-radius: 0 0 4px 0;
      }
      &::-webkit-scrollbar-thumb {
         background: $color-blue-primary;
         border-radius: 4px;
         cursor: pointer;
      }

      &--active {
         display: block;
      }

      &__item {
         font-size: 1.4rem;
         padding: 1rem;
         display: flex;
         justify-content: flex-start;
         align-items: center;

         &__logo {
            width: 3rem;
            height: auto;
            margin-right: 0.5rem;
            cursor: pointer;
         }

         &__name {
            cursor: pointer;
         }

         &__message {
            padding: 1rem;
         }
      }
   }
}
