<div class="container" [formGroup]="parent">
   <input
      class="container__input"
      [formControlName]="formControlName"
      [type]="inputType"
      [placeholder]="
         element.name === 'delete'
            ? 'Type delete to confirm'
            : (element.name | titlecase)
      "
      [required]="required"
      [id]="element.id"
   />
   <i
      class="material-icons container__icon"
      [class.container__icon--delete]="element.name === 'delete'"
      >{{ element.icon }}
   </i>
   <label [for]="element.id" class="container__label">
      {{
         element.name === 'delete'
            ? 'Type delete to confirm'
            : (element.name | titlecase)
      }}
   </label>

   <div [ngSwitch]="element.name" class="container__error">
      <ng-container *ngSwitchCase="'email'">
         <span *ngIf="requiredError">Email is <strong>required.</strong></span>
         <span *ngIf="emailError">
            <span>Please enter a <strong>valid</strong> email address.</span>
         </span>
      </ng-container>
      <ng-container *ngSwitchCase="'current Password'">
         <span *ngIf="minLengthError">
            Password must have at least <strong>8</strong> characters
         </span>
         <span *ngIf="!minLengthError && requiredError">
            Password is <strong>required.</strong>
         </span>
      </ng-container>
      <ng-container *ngSwitchCase="'repeat Password'">
         <span *ngIf="minLengthError">
            Password must have at least <strong>8</strong> characters
         </span>
         <span *ngIf="!minLengthError && requiredError">
            Password is <strong>required.</strong>
         </span>
      </ng-container>
      <ng-container *ngSwitchCase="'password'">
         <span *ngIf="minLengthError">
            Password must have at least <strong>8</strong> characters
         </span>
         <span *ngIf="!minLengthError && requiredError">
            Password is <strong>required.</strong>
         </span>
      </ng-container>
      <ng-container *ngSwitchDefault>
         <span *ngIf="requiredError">
            {{ element.name | titlecase }} is <strong>required.</strong>
         </span>
      </ng-container>
   </div>
</div>
