@import '../assets/SCSS/variables';
@import '../assets/SCSS/mixins';

.app-container {
   font-size: 1.6rem;
   color: $color-text;
   display: flex;
   flex-wrap: wrap;

   .header {
      flex: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @include respond(breakpoint-3) {
         box-shadow: $box-shadow-3;
      }

      &__image {
         flex: 0 1 8rem;
         margin-left: 6rem;

         @include respond(breakpoint-1) {
            margin-right: auto;
         }

         @include respond(breakpoint-4) {
            margin-left: 1.5rem;
         }
      }

      &__search {
         flex: 0 1 50rem;
         margin-right: auto;
         margin-left: 4rem;

         @include respond(breakpoint-1) {
            flex: 1 1 70%;
            order: 1;
            margin: 0rem 6rem 2rem 6rem;
         }
         @include respond(breakpoint-4) {
            margin: 0 1.5rem 2rem 1.5rem;
         }
      }

      &__menu-btn {
         flex: 0 0 3rem;
         height: 3rem;
         margin-right: 6rem;
         display: none;
         cursor: pointer;

         @include respond(breakpoint-3) {
            display: flex;
            justify-content: center;
            align-items: center;
         }

         @include respond(breakpoint-4) {
            margin-right: 1.5rem;
         }
      }
   }

   .nav {
      flex: 0 0 100%;
      font-size: 1.4rem;
      background-color: $color-blue-primary;
      box-shadow: $box-shadow-3;

      @include respond(breakpoint-3) {
         height: calc(100vh - 17.16rem);
      }

      &__main {
         @extend .nav;

         @include respond(breakpoint-3) {
            display: none;
         }
      }

      &__responsive {
         @extend .nav;

         &--show-hide {
            display: none;
         }
      }
   }

   .router-outlet {
      flex: 1 1 100%;
      min-height: calc(100vh - 20.96rem);

      @include respond(breakpoint-1) {
         min-height: calc(100vh - 28.24rem);
      }

      @include respond(breakpoint-3) {
         min-height: calc(100vh - 24.16rem);
      }

      &--hide {
         display: none;
      }
   }

   .footer {
      flex: 1;
      height: 7rem;
      background: $color-blue-primary;
      color: $color-white;
      display: flex;
      justify-content: center;
      align-content: center;

      &__text {
         align-self: center;
      }

      &--hide {
         display: none;
      }
   }
}
