<div class="app">
  <div class="app-header">
    <div class="image">
      <app-logo></app-logo>
    </div>
    <div class="search">
      <app-search 
        [products]="searchProducts$ | async"
        (productDetail)="handleProductDetail($event)">
      </app-search>
    </div>
    <div class="cart">
     <app-cart-info 
      [cartQuantity]="cartQuantity$ | async"
      [cartTotal]="cartTotal$ | async"
      [userToken]="userToken$ | async"
      (navigateToCart)="handlleViewCart($event)"
      (navigateToUserProfile)="handleViewUserProfile($event)"
      (navigateToLogIn)="handleLogIn($event)"
      (userLogout)="handleLogout($event)">
     </app-cart-info>
    </div>
  </div>
  <div class="app-content">
    <div class="app-nav">
      <button
        class="nav-button" 
        mat-button 
        [routerLink]="category.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: category.exact }"
        *ngFor="let category of nav">
        {{ category.name }}
      </button
      >
    </div>
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
    <div class="app-footer">
      <p>&copy; My Shooping App</p>
    </div>
  </div>
</div>

