<div class="app-container">
   <header class="header">
      <div class="header__image">
         <app-logo></app-logo>
      </div>
      <div class="header__search">
         <app-search
            [products]="searchProducts$ | async"
            (productDetail)="handleProductDetail($event)"
         >
         </app-search>
      </div>
      <div class="header__cart">
         <app-cart-info
            [cartQuantity]="cartQuantity$ | async"
            [cartTotal]="cartTotal$ | async"
            [userToken]="userToken$ | async"
            (navigateToCart)="handlleViewCart($event)"
            (navigateToUserProfile)="handleViewUserProfile($event)"
            (navigateToLogIn)="handleLogIn($event)"
            (userLogout)="handleLogout($event)"
         >
         </app-cart-info>
      </div>
      <div class="header__menu-btn" (click)="toggleMenu()">
         <app-menu-btn [menu]="menu"> </app-menu-btn>
      </div>
   </header>

   <nav class="nav__main">
      <app-menu></app-menu>
   </nav>

   <nav class="nav__responsive" [class.nav__responsive--show-hide]="!menu">
      <app-menu 
         [menu]="menu"
         (responsiveNav)="closeResponsiveNav()">
      </app-menu>
   </nav>

   <main class="router-outlet" [class.router-outlet--hide]="menu">
      <router-outlet></router-outlet>
   </main>

   <footer class="footer" [class.footer--hide]="menu">
      <p class="footer__text">&copy; My Shooping App</p>
   </footer>
</div>
