$color-text: #545e6f;
$color-background: #f1f2f5;

$color-blue-primary: #3949ab;
$color-blue-secondary: #00227b;

$color-white: #fff;
$color-error: #B00020;
$color-red: #e10000;

$color-dark: #000;
$color-dark-1: #333;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-light-5: #f7f7f7;
$color-grey-light-6: #eee;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$box-shadow-1: 0 2px 1px -1px #00000033, 0 1px 1px 0 #00000024,
   0 1px 3px 0 #0000001f;

$box-shadow-2: 0 5px 5px -3px #00000033, 0 8px 10px 1px #00000024,
   0 3px 14px 2px #0000001f;

$box-shadow-3: 0 1px 6px 0 #20212447;
